.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language {
    margin-right: 10px;
    color: whitesmoke;
    background-color: gray;
}

.language-button-container {
    background-color: grey;
    padding: 3px 0 3px 10px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 5px;
}

