.search {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 0.7em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.search input {
    border: none;
    background-color: rgb(233, 233, 233);
}

.search input:focus {
    outline: none;
}