body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 100vh;
}

.note {
    display: flex;
    background-color: #f69ebb;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap; /* чтобы можно было добавлять сколько угодно пробелов меж словами*/
}

textarea {
    background-color: #e1e57f;
    resize: none;
    border: none;
}

textarea:focus {
    outline: none;
}

.save {
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.save:hover {
    background-color: #f69ebb;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark-mode {
    background-color: #2b2b2c;
}

.dark-mode h1 {
    color: whitesmoke;
}
